#{if _station.readings.size() > 0}
<div class="columns">
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Location
      </div>
      <div class="message-body has-text-white">
        ${_station.name}
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Weather
      </div>
      <div class="message-body has-text-white">
        <p>
          ${_station.latestWeatherDescription}
        </p>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Temperature
      </div>
      <div class="message-body has-text-white">
        <p>
          ${_station.latestTemperatureCelcius} °C
        <br>
          ${_station.latestTemperatureFahrenheit} °F
        </p>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Wind
      </div>
      <div class="message-body has-text-white">
        <p>
          ${_station.latestWindBeaufort} bft
        </p>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Pressure
      </div>
      <div class="message-body has-text-white">
        <p>
          ${_station.latestPressure} hpa
        </p>
      </div>
    </article>
  </div>
</div>
#{/if}

#{else}
<p>No readings have been found!</p>
#{/else}