#{if _station.readings.size() > 0}
<div class="columns">
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Location
      </div>
      <div class="message-body has-text-white">
        ${_station.name} <br>
        ${_station.longitude} <br>
        ${_station.latitude}
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Weather
      </div>
      <div class="message-body has-text-white">
        <p>
          ${_station.getLatestWeatherDescription()}
        </p>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Temperature
      </div>
      <div class="message-body has-text-white">
        <p>
          ${_station.getLatestTemperatureCelcius()} °C
          <br>
          ${_station.getLatestTemperatureFahrenheit()} °F
        </p>
        <p>
          ${_station.getMinTemperature()} °C <i class="fa-solid fa-temperature-arrow-down"></i>
          <br>
          ${_station.getMaxTemperature()} °C <i class="fa-solid fa-temperature-arrow-up"></i>
        </p>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Wind
      </div>
      <div class="message-body has-text-white">
        <p>
          ${_station.getLatestWindBeaufort()} bft <br>
          ${_station.getLatestWindDirectionCompass()} <br>
          Feels Like<br>
          ${_station.getLatestWindChill()} °C<br>
        </p>
        <p>
          ${_station.getMinWindSpeed()} bft <i class="fa-solid fa-arrow-down-short-wide"></i>
          <br>
          ${_station.getMaxWindSpeed()} bft <i class="fa-solid fa-arrow-up-short-wide"></i>
        </p>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Pressure
      </div>
      <div class="message-body has-text-white">
        <p>
          ${_station.getLatestPressure()} hpa
        </p>
        <p>
          ${_station.getMinPressure()} hpa <i class="fa-solid fa-arrow-down-short-wide"></i>
          <br>
          ${_station.getMaxPressure()} hpa <i class="fa-solid fa-arrow-up-short-wide"></i>
        </p>
      </div>
    </article>
  </div>
</div>
#{/if}

#{else}
<p>No readings have been found!</p>
#{/else}
