<table class="table is-striped mt-5">
    <thead>
    <tr>
        <th>Date/Time</th>
        <th>Weather Code</th>
        <th>Temperature</th>
        <th>Wind Speed/Chill</th>
        <th>Wind Direction</th>
        <th>Pressure</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    #{list items:_station.readings, as:'reading'}
    <tr>
        <td>
            ${reading.date}
        </td>
        <td>
            ${reading.code} <br>
            ${utils.Conversion.weatherCodeToCondition(reading.code)}

        </td>
        <td>
            ${reading.temperature} °C <br>
            ${utils.Conversion.celsiusToFahrenheit(reading.temperature)} °F
        </td>
        <td>
            ${reading.windSpeed} kmh | <span
                title="${utils.Conversion.beaufortDescription(utils.Conversion.kmhToBeaufort(reading.windSpeed))}">${utils.Conversion.kmhToBeaufort(reading.windSpeed)} bft</span><br>
            ${utils.Conversion.calculateWindChill(reading.temperature, reading.windSpeed)} °C
        </td>
        <td>
            ${reading.windDirection} °<br>
            ${utils.Conversion.windDirectionToCompass(reading.windDirection)}
        </td>
        <td>
            ${reading.pressure}
        </td>
        <td>
            <a id="delete" data-link="/station/${_station.id}/delete/${reading.id}">
                <div class="buttons">
                    <button class="button is-danger">Delete</button>
                </div>
            </a>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>
