#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}


#{if flash.error}
<div class="notification is-danger">
    ${flash.error}
</div>
#{/if}

#{if flash.success}
<div class="notification is-success">
    ${flash.success}
</div>
#{/if}

<form class="box" action="/dashboard/add" method="POST">
    <div class="columns is-multiline is-mobile">
        <div class="field column is-full-mobile is-3-desktop">
            <input class="input is small" placeholder="Title" type="text" name="title">
        </div>
        <div class="field column is-full-mobile is-3-desktop">
            <input class="input is small" placeholder="Latitude" type="number" step="any" name="latitude" required>
        </div>
        <div class="field column is-full-mobile is-3-desktop">
            <input class="input is small" placeholder="Longitude" type="number" step="any" name="longitude" required>
        </div>
        <div class="column is-full-mobile is-3-desktop">
            <button class="button is-link is-info is-fullwidth">Add Station</button>
        </div>
    </div>
</form>

#{list items:stations, as:'s'}
<div class="content box">
    #{cardreadings station:s/}
    <div class="card-footer mt-4">
        <a href="/station/${s.id}" class="card-footer-item has-background-success has-text-white">
            <span>View Station</span>
        </a>
        <a id="delete" class="card-footer-item has-background-danger has-text-white"
           data-link="/dashboard/${s.id}/delete"
        >
            <div class="container is-fullwidth has-text-centered">
                <span>Delete Station</span>
            </div>
        </a>
    </div>
</div>
#{/list}

#{if pages > 1}
<nav class="pagination" role="navigation" aria-label="pagination">
    <a href="${page > 1 ? '/dashboard/page/' + (page - 1) : '#'}"
       class="pagination-previous"
       style="${page == 1 ? 'visibility: hidden;' : ''}">Previous</a>
    <a href="${page < pages ? '/dashboard/page/' + (page + 1) : '#'}"
       class="pagination-next"
       style="${page == pages ? 'visibility: hidden;' : ''}">Next</a>
</nav>
#{/if}


<dialog id="confirmDeleteDialog">
    <p class="title">Are you sure you want to delete this station?</p>
    <div class="has-text-centered">
        <form id="deleteForm" method="POST" action="">
            <button class="button is-danger" id="confirmDelete" type="submit">Yes, delete</button>
        </form>
        <button class="button is-light" id="cancelDelete">No, cancel</button>
    </div>
</dialog>




