#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}


#{if flash.error}
<div class="notification is-danger">
    ${flash.error}
</div>
#{/if}

#{if flash.success}
<div class="notification is-success">
    ${flash.success}
</div>
#{/if}

<form class="box" action="/dashboard/add" method="POST">
    <div class="columns is-multiline is-mobile">
        <div class="field column is-full-mobile is-4-desktop">
            <label class="label">Title</label>
            <input class="input is small" placeholder="Title" type="text" name="title">
        </div>
        <div class="field column is-full-mobile is-4-desktop">
            <label class="label">Latitude</label>
            <input class="input is small" placeholder="Latitude" type="number" step="any" name="latitude" required>
        </div>
        <div class="field column is-full-mobile is-4-desktop">
            <label class="label">Longitude</label>
            <input class="input is small" placeholder="Longitude" type="number" step="any" name="longitude" required>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <button class="button is-link is-info is-fullwidth">Add Station</button>
        </div>
    </div>
</form>

#{list items:stations, as:'s'}
<div class="content box">
    #{cardreadings station:s/}
    <div class="card-footer mt-4">
        <a href="/station/${s.id}" class="card-footer-item has-background-success has-text-white">
            <span>View Station</span>
        </a>
        <a id="delete" class="card-footer-item has-background-danger has-text-white"
           data-link="/dashboard/${s.id}/delete"
        >
            <div class="container is-fullwidth has-text-centered">
                <span>Delete Station</span>
            </div>
        </a>
    </div>
</div>
#{/list}

#{if pages > 1}
<nav class="pagination" role="navigation" aria-label="pagination">
    <a href="/dashboard/page/${page - 1}" class="pagination-previous" ${page== 1 ? "disabled" : ""}>Previous</a>
    <a href="/dashboard/page/${page + 1}" class="pagination-next" ${page== pages ? "disabled" : ""}>Next</a>
</nav>
#{/if}


<dialog id="confirmDeleteDialog">
    <p>Are you sure you want to delete this station?</p>
    <button id="confirmDelete">Yes, delete</button>
    <button id="cancelDelete">No, cancel</button>
</dialog>

<script>
    const deleteDialog = document.querySelector('#confirmDeleteDialog');
    const deleteLink = document.querySelector('#delete');
    const confirmButton = document.querySelector('#confirmDelete');

    let deleteUrl;

    deleteLink.addEventListener('click', (e) => {
        e.preventDefault();  // Stop the link from navigating anywhere
        deleteDialog.showModal();  // This function is native to the <dialog> element
        deleteUrl = deleteLink.dataset.link; // Get the URL from the data-link attribute
    });

    confirmButton.addEventListener('click', () => {
        if (!deleteUrl) {
            return;
        }

        fetch(deleteUrl, {
            method: 'POST',
        })
            .then(response => {
                location.reload();
            })
            .catch(error => {
                console.error(`Error: ${error}`);
            })
            .finally(() => {
                deleteDialog.close(); // Close the dialog
            });
    });

    // Get the cancel button
    const cancelButton = document.querySelector('#cancelDelete');

    // Close the dialog when the cancel button is clicked
    cancelButton.addEventListener('click', () => {
        deleteDialog.close();
    });
</script>



