#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:stations, as:'s'}
<div class="content box">
    <h1 class="title">
        ${s.name}
    </h1>
    <p>
        <span class="icon">
          <a href="/station/${s.id}"><i class="fa-solid fa-folder-open"></i></a></i>
        </span>
    </p>
</div>
#{/list}

#{if flash.success}
<div class="notification is-success">
    ${flash.success}
</div>
#{/if}

#{if flash.error}
<div class="notification is-danger">
    ${flash.error}
</div>
#{/if}

<form class="box" action="/dashboard/add" method="POST">
    <div class="field">
        <label class="label">Title</label>
        <input class="input is small" placeholder="Title" type="text" name="title">
    </div>
    <button class="button is-link is-info">Add Station</button>
</form>