#{extends 'main.html' /}
#{set title:'Start' /}

#{menu id:"start"/}

<div class="content box">
  <p class="title">
    Welcome to WeatherTop
  </p>
  <p>
    WeatherTop is a user-friendly web application designed for owners of consumer-level weather stations.
    This platform allows members to submit weather reports from their stations, providing real-time readings
    and insightful analytics. Monitor and analyze data from multiple stations, all in one convenient location.
    Stay informed and contribute to a community-driven weather experience.
  </p>
</div>
