#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"station"/}

<iframe width="100%" height="350" style="border: #ffffff" src="https://www.openstreetmap.org/export/embed.html?
bbox=${station.longitude - 0.005}%2C${station.latitude - 0.005}%2C${station.longitude + 0.005}%2C${station.latitude + 0.005}
&amp;layer=mapnik&amp;
marker=${station.latitude}%2C${station.longitude}">
</iframe>

#{if flash.error}
<div class="notification is-danger">
    ${flash.error}
</div>
#{/if}

#{if flash.success}
<div class="notification is-success">
    ${flash.success}
</div>
#{/if}

<form class="box" action="/station/${station.id}/add" method="POST">
    <div class="columns is-mobile">
        <div class="field column is-full-mobile is-one-sixth-desktop">
            <div class="control">
                <div class="select is-fullwidth">
                    <select name="code">
                        <option value="" disabled selected hidden>Weather Code</option>
                        <option value="100">100 - Clear</option>
                        <option value="200">200 - Partial Clouds</option>
                        <option value="300">300 - Cloudy</option>
                        <option value="400">400 - Light Showers</option>
                        <option value="500">500 - Heavy Showers</option>
                        <option value="600">600 - Rain</option>
                        <option value="700">700 - Snow</option>
                        <option value="800">800 - Thunder</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field column is-full-mobile is-one-sixth-desktop">
            <div class="control">
                <input type="number" step="any" class="input" min="-50" max="50" placeholder="Temperature"
                       name="temperature" required>
            </div>
        </div>
        <div class="field column is-full-mobile is-one-sixth-desktop">
            <div class="control">
                <input type="number" step="any" class="input" min="0" max="117" placeholder="Wind Speed"
                       name="windSpeed" required>
            </div>
        </div>
        <div class="field column is-full-mobile is-one-sixth-desktop">
            <div class="control">
                <input type="number" step="any" class="input" min="0" max="360" placeholder="Wind Direction"
                       name="windDirection" required>
            </div>
        </div>
        <div class="field column is-full-mobile is-one-sixth-desktop">
            <div class="control">
                <input type="number" class="input" min="100" max="1050" placeholder="Pressure" name="pressure" required>
            </div>
        </div>
        <div class="field column is-full-mobile is-one-sixth-desktop">
            <div class="control">
                <button class="button is-link is-info is-fullwidth">Add Reading</button>
            </div>
        </div>
    </div>
</form>

<div class="content box">
    <h1 class="title">
        ${station.name}
    </h1>
    #{cardreadings station:station/}
    #{listreadings station:station/}
</div>

<dialog id="confirmDeleteDialog">
    <p>Are you sure you want to delete this station?</p>
    <button id="confirmDelete">Yes, delete</button>
    <button id="cancelDelete">No, cancel</button>
</dialog>

<script>
    const deleteDialog = document.querySelector('#confirmDeleteDialog');
    const deleteLinks = document.querySelectorAll('#delete');
    const confirmButton = document.querySelector('#confirmDelete');

    let deleteUrl;

    deleteLinks.forEach((deleteLink) => {
        deleteLink.addEventListener('click', (e) => {
            e.preventDefault();  // Stop the link from navigating anywhere
            deleteDialog.showModal();  // This function is native to the <dialog> element
            deleteUrl = deleteLink.dataset.link; // Get the URL from the data-link attribute
        });
    });

    confirmButton.addEventListener('click', () => {
        if (!deleteUrl) {
            return;
        }

        fetch(deleteUrl, {
            method: 'POST',
        })
            .then(response => {
                window.location.assign(`/station/${station.id}`);
            })
            .catch(error => {
                console.error(`Error: ${error}`);
            })
            .finally(() => {
                deleteDialog.close(); // Close the dialog
            });
    });

    // Get the cancel button
    const cancelButton = document.querySelector('#cancelDelete');

    // Close the dialog when the cancel button is clicked
    cancelButton.addEventListener('click', () => {
        deleteDialog.close();
    });
</script>


